.c {
  text-align: center;
  vertical-align: middle !important;
}

.m {
  vertical-align: middle !important;
}

h1.my,
h2.my,
h1>span.my,
h2>span.my {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: normal;
  /* 不要粗體 */
  font-family: HanWangMingBlack, JfOpenhuninn, 'Noto Sans TC', Mamelon;
  /* 字型 */
  background: -webkit-linear-gradient(rgb(89, 112, 134), rgb(33, 51, 51));
  /* 漸層顏色 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

h3.my,
h4.my,
h5.my,
h3>span.my,
h4>span.my,
h5>span.my {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: normal;
  /* 不要粗體 */
  font-family: JfOpenhuninn, 'Noto Sans TC', Mamelon;
  /* 字型 */
  background: -webkit-linear-gradient(rgb(126, 92, 64), rgb(92, 41, 56));
  /* 漸層顏色 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.my-title {
  padding: 6px;
  /* 離標題邊框距離 */
  text-align: left;
  /* 文字靠左 */
  font-weight: normal;
  /* 不要粗體 */
  font-family: JfOpenhuninn, 'Noto Sans TC', Mamelon;
  color: #3a322e;
}

.my-border {
  padding: 12px 20px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 8px;
  background: rgb(245, 245, 245);
  /* box-shadow: 0px 0px 6px 1px rgba(37, 37, 37, 0.2); */
  margin: 10px auto;
}

.my-sm-border {
  padding: 6px 10px 8px 10px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  background: rgb(245, 245, 245);
  margin: 10px auto;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 20px;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 20px;
}

.tooltip-inner {
  max-width: 600px;
  font-size: 0.95em;
  background: #830d48;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  line-height: 1.8;
  opacity: 1;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #830d48 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #830d48 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #830d48 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #830d48 !important;
}

.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  max-width: 600px;
  font-size: 0.95em;
  background: #830d48;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  line-height: 1.8;
  opacity: 1;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

.bar {
  text-align: center;
  margin: 3em auto;
}

.btn {
  font-family: 微軟正黑體;
}

.help-title {
  font-size: 1em;
  font-weight: bold;
  color: rgb(63, 9, 27);
}

.help-txt {
  font-size: 0.8em;
  color: rgb(51, 51, 0);
}

label {
  font-weight: bold;
}

.empty {
  color: rgb(185, 216, 245);
}

.line th {
  text-align: center;
  vertical-align: middle;
  color: black;
  background-color: #DCEDE8;
  border-color: #000;
}

.line td {
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-color: #000;
}

.btn-coral {
  color: #fff;
  background-color: coral;
  border-color: coral;
}

.btn-coral:hover,
.btn-coral:focus,
.btn-coral:active:hover {

  color: #fff;
  background-color: coral;
  border-color: coral;
}