<{$bootstrap}>
<{$jquery}>
<{$toolbar}>

<script language='javascript' src='http://tts.itri.org.tw/TTScript/Text2SpeechJsApiV2.php?key=ekn@-_ji50*2A*14*2Aefg*60ab'></script>

<{foreach from=$all_content item=idioms}>
  <a name="<{$idioms.name}>"></a>
  <div class="well well-small" <{if $idioms.current}>style="background-color:#FFFF80"<{/if}>>
    <table style='width:auto;'>
    <tr>
    <td><{$idioms.sn}>.</td>
    <{$idioms.main}>
    <td>
      <div id='ttscontent<{$idioms.sn}>' style='display:none;'><{$idioms.title}>,<{$idioms.mean}></div>
      <div id='ttsmedia<{$idioms.sn}>'></div>
      <script language='javascript'>

        var tts<{$idioms.sn}> = new TTS();
        tts<{$idioms.sn}>.PlayerSet.hidden = false;
        tts<{$idioms.sn}>.PlayerSet.width = 250;
        tts<{$idioms.sn}>.PlayerSet.height = 30;
        tts<{$idioms.sn}>.ConvertInit('id:ttscontent<{$idioms.sn}>','ttsmedia<{$idioms.sn}>','Bruce','100','0','0','0','5');

      </script>
  
    </td>
    </tr>
    </table>
      <div style='margin:10px 0px 10px 35px;'><{$idioms.mean}></div>
  </div>

<{/foreach}>

<{if $isAdmin}>
<a href='admin/main.php?op=tad_idioms_form'  class='btn btn-info'><{$smarty.const._TAD_ADD}></a>

<{/if}>
<{$bar}>